<div class="flex gap-8 mt-12">
  <%= render partial: 'partials/sidebar' %>

  <section class="w-full">

    <%= render partial: 'partials/search' %>

    <%== pagy_info(@pagy) %>

    <%= turbo_frame_tag :results, data: {turbo_action: 'advance'}, class: "space-y-4" do %> <!-- TurboTag usada na aplicação dos filtros -->
      <!-- turbo_action: 'advance' isso indica que a navegação será registrada no histórico do navegador -->

      <table class="w-full text-sm text-left rtl:text-right">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th class="px-6 py-3">
              <%= sort_link(@q, :name, default_order: :desc) do %> First name <% end %>
            </th>
            <th class="px-6 py-3"><%= sort_link(@q, :status) %></th>
            <th class="px-6 py-3"><%= sort_link(@q, :language_name) %></th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <!-- Table content -->
        <tbody>
          <%= turbo_stream_from "employees_channel" %> <!-- Configura um stream para atualizações ao vivo para a lista de employees, usado para aplicações real-time -->
          <% @employees.each do |employee| %> <!-- Itera sobre cada empregado na variável de instância @employees -->
            <%= render partial: 'employee', locals: {employee: employee} %> <!-- Renderiza o partial 'employee' para cada empregado passando a variável local 'employee' -->
          <% end %>
        </tbody>

      </table>

      <!-- Pagination -->
      <div class="float-center">
        <%== pagy_nav(@pagy) %>
      </div>

    <% end %>
  </section>
</div>
