<!DOCTYPE html>
<html>
  <head>
    <title>Records</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <main class="p-8">
      <a href="/"><h1>Employees</h1></a>

      <%= turbo_frame_tag 'notifications' %>

      <hr class="my-4">
      <%= yield %>

      <%= turbo_frame_tag :modal %>

    </main>
  </body>
</html>